@charset "UTF-8";

.sample-balloon {
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  background: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
}

.sample-balloon:before,
.sample-balloon:after {
  content: "";
  position: absolute;
  left: 30px;
  border: 20px solid transparent;
}

.sample-balloon:before {
  bottom: -45px;
  border-top: 20px solid #8f5a0a;
}

.sample-balloon:after {
  bottom: -38px;
  border-top: 20px solid #fad296;
}